.about img {
  border-radius: 5%;
  width: 25%;
  height: 25%;
  border: 3px solid white;
}

.about div {
  /* border-radius: 30% 0 0 30%; */
  display: flex;
  flex-direction: row;
  width: 100%;
}

.about p {
  width: 100%;
  padding: 0 0 0 5%;
  font-size: 1.35em;
}
