.about {
  background-image: url('../../../public/portfolio-about-d.png');
  background-size: cover;
  height: 100vh;
}

.about section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
}

.about div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 0 0 20px;
}

.about img {
  width: 25%;
  height: 25%;
  border: 2px solid white;
  margin: 0 0 5% 0;
}

.about p {
  width: 100%;
  padding: 0 3%;
  font-size: 1em;
  color: var(--text-color);
}

.about article {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
  padding: 1% 0 0 0;
}

.about span {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 0 20px;
  width: 100%;
}

.about h2, .about summary {
  font-size: 1.25em;
  padding: 0 0 0 10px;
  color: var(--text-color);
  width: 100%;
  white-space: nowrap;
}

summary {
  font-weight: 500;
}

details {
  width: 15%;
}

.about ul {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding: 0 20px;
  width: 100%;
  flex-wrap: wrap;
  font-size: 1em; 
  margin: 0;
  width: fit-content;
}

.about h6 {
  font-size: 2em;
  margin: 0 10px;
}

.about li {
  font-size: .8em;
  margin: 5px;
  background-color: gray;
  color: white;
  padding: 2px;
  border-radius: 3px;
  line-height: 2;
}

@media only screen and (max-width: 768px) {

  .about section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  
  .about div {
    width: 100%;
  }
  
  .about summary {
    margin: 0 0 0 20px;
    width: 100%;
  } 
  .about p {
    width: 95%;
    padding: 0;
    font-size: .85em;
    padding: 5% 0;
  }

  .about img {
    width: 50%;
    height: 50%;
    margin-top: 5%;
  }

  .about article {
    justify-content: center;
    align-items: flex-start;
  }
}