main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ProjectDetail > section {
  display: flex;
  justify-content: center;
  width: 50%;
}

.ProjectDetail h2 {
  width: fit-content;
  padding: 2% 0 0% 0;
}

.ProjectDetail img {
  width: 100%;
}

.ProjectDetail ul {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  padding: 0;
  width: 50%;
}

.ProjectDetail p {
  color: rgb(217, 215, 215);
  padding: 0% 0 0 0;
  width: 100%;
}

.ProjectDetail li {
  color: rgb(101, 99, 99); 
  background-color: rgb(88, 87, 87);
  padding: 5px 10px;
  margin: 0 10px 0 0;
  font-size: .65em;;
  border-radius: 5px;
}


