/* .carousel {
  height: 80%;
} */

/* .carousel-caption {
  position: relative;
  border: 1px solid black;
  top: 0;
  left: 0;
  color: black;
  text-align: left;
  padding: 20px;
} */
/* 
.carousel-caption { bottom:-95px; }

.carousel-caption {
  height: 20%
}

.carousel-caption h3, p, a {
/* } */

.active h3, p, a {
  
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
