.ProjectCard h2 {
  padding: 2% 0 0% 0;
}

.ProjectCard img {
  width: 100%;
}

.ProjectCard ul {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  padding: 0;
  width: 60%;
}

.ProjectCard span {
  width: 8%;
}

.ProjectCard p {
  color: rgb(217, 215, 215);
  padding: 0% 0 0 0;
}

.ProjectCard a {
  color: rgb(179, 177, 177);
}

.ProjectCard a:hover {
  color: red;
}