/* * {
  border: 1px solid red;
} */

.resume h1 {
  padding: 0% 0 5% 0;
  font-size: 2.5em;
}

.resume section {
  width: 40%;
}

.resume article {
  width: 100%;
}

.resume div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  padding: 0;

}

.resume p {
  font-size: 1.5em;
  font-weight: 300;
  color: white;
  margin: 0 5% 0 0;
}

.resume div:first-child > p {
  /* color: red; */
  margin: 0 2% 0 0;
  /* padding: 0 0 3% 0; */
}

.resume h2 {
  font-size: 2em;
  font-weight: 400;
  color: red;
}

.resume h6 {
  padding: 8px 10px;
  text-align: center;
  background-color: white;
  color: gray;
  border-radius: 10px;
  font-size: .4em;
  font-weight: 500;
}

.resume ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}

li {
  padding: 0 10px;
  text-align: center;
  background-color: gray;
  border-radius: 5px;
  font-size: .85em;
  font-weight: 500;
}