/* 
* {
  border: 1px solid red;
} */

.resume h1 {
  padding: 0% 0 5% 0;
}

.resume section {
  width: 40%;
}

.resume article {
  width: 100%;
}

.resume div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.resume div:first-child{
  padding: 0% 0 5% 0;
}

.resume p {
  font-size: 2em;
  font-weight: 300;
  color: white;
  margin: 0 2% 0 0;
}

.resume h2 {
  font-weight: 500;
  color: red;
}

.resume span {
  padding: 10px 10px;
  text-align: center;
  background-color: gray;
  border-radius: 10px;
  font-size: medium;
  font-weight: 500;
}