.contact article {
  display: flex;
  justify-content: center;  
  align-items: center;
  flex-wrap: wrap;
}

.contact div {
  display: flex;
  justify-content: flex-start;
  padding: 10px 10px 0 10px;

}

.contact h1 {
  text-align: center;
  font-size: 2em;
}

.contact h6 {
  text-align: center;
  font-size: 1em;
  font-weight: 300;
}

.contact p {
  padding: 0 0 0 10px;
  font-size: 1.75em;
  color: gray;
  text-align: center;
}