.contact {
  background-image: url('../../../public/portfolio-contact-d.png');
  background-size: cover;
}

.contact section {
  display: flex;
  justify-content: center;  
  align-items: center;
  width: 50%;
}

.contact article {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 38%;
  flex-wrap: wrap;
  padding: 1.6% 0 0 0;
}

.contact h1 {
  text-align: center;
  font-size: 2em;
  padding: 0 0 10px 0;
  color: var(--text-color);
}

.contact h6 {
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  padding: 1% 0;
  color: var(--text-color);
}

.contact p {
  padding: 0 0 0 10px;
  font-size: 1.5em;
  color: varo(--text-color);
  background-color: none;
  text-align: left;
  margin: 0;
  width: fit-content;
}

.contact span {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  width: 40%;
  padding: 0 5px;
  background-color: none;
}

@media only screen and (max-width: 768px) {
  .contact section {
    width: 70%;
  }

  .contact article {
    width: 100%;
    justify-content: flex-start;
  }

  .contact a {
    width: 50%;
  }
}