/* * {
  border: 1px solid red;
} */

.contact section {
  width: 50%;
}

.contact article {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  width: 100%;
}

.contact div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* width: 100%; */
  padding: 0% 8% 0 0;
}

.contact h6 {
  font-size: 1.5em;
  font-weight: 300;
  color: gray;
  padding: 0% 0 5% 0;
}

.contact p {
  font-size: 1.75em;
  font-weight: 300;
  color: white;
  padding: 0 10% 0 0;
}

