.home {
  background-image: url('../../../public/portfolio-home-d.png');
  background-size: cover;
}

.home img {
  border-radius: 50%;
  width: 35%;
  height: 35%;
}

.home h1 {
  font-size: 4em;
  text-align: center;
  color: var(--text-color);
}

.home h2 {
  font-size: 2.5em;
  font-weight: 200;
  text-align: center;
  color: var(--text-color);
}