.home {
  background-image: url('../../../public/portfolio-home-d.png');
  background-size: cover;
}

.home h1 {
  font-size: 4em;
  text-align: center;
  color: var(--text-color);
}

.home h2 {
  font-size: 2.5em;
  font-weight: 200;
  text-align: center;
  color: var(--text-color);
}

@media only screen and (max-width: 768px) {
  .home section {
    width: 80%;
  }
}