.NavBar nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.NavBar h1 {
  justify-content: baseline;
  font-size: 1.25rem;
  padding: 0 2%;
  width: 20%;
  margin: 0;
}

.NavBar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: medium;
} 

.NavBar li {
    padding: 0 2%;
}




/* .NavBar a {
  padding: 0;
} */