* {
  /* border: 1px solid red; */
}

.NavBar div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
  padding: 0 10%;
  /* font-size: medium; */
}

.NavBar h1 > a {
  font-size: 1.75em;
  color: red;
}

.NavBar a {
  font-size: 1.5rem;
}