
.projects {
  background-image: url('../../../public/portfolio-projects-d.png');
  background-size: cover;
  height: 100%;
  padding: 12% 0 0 0;
  justify-content: center;
}

.projects section {
  flex-wrap: wrap;
  width: 60%;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#project-article {
  /* width: 80%; */
  padding: 0 0 3% 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.projects img {
  width: 50%;
  height: 50%;
  box-shadow: 0 0 20px 5px rgba(82, 82, 82, 0.75);
}

.projects div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  /* height: fit-content; */
  width: fit-content;
  /* margin: 0 0 0 5%; */
  padding: 0 0 10% 0;
}

.projects a:hover {
  color: rgb(255, 162, 138) ;
}


.Projects_projects h3, h4 {
  color: var(--text-color);
}

.projects h4 {
  padding: 5% 0 1% 0;
  font-size: 1.25em;
  /* width: 50%; */
  /* text-align: left; */
}

.projects a {
  font-size: .9em;
  font-weight: 300;
  width: 100%;
  color: var(--text-color);
  padding: 10% 0 0 0;
}

@media only screen and (max-width: 768px) {
  .projects {
    height: 100%;
    padding: 35% 0 0 0;
  }

  .projects section {
    width: 80%;
  
  }

  .projects article {
    width: 100%;
    /* padding: 0 0 0 10%; */
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
  }

  .projects img {
    width: 80%;
    height: 80%;
    /* margin: 0 0 0 5%; */
  }

  .projects div {
    width: 80%;
    padding: 0 0 5% 0;
  }

  .projects h4 {
    padding: 8% 0 0 0;
    font-size: 1em;
  }

  .projects a {
    font-size: .8em;;
    padding: 5% 0 10% 0;
    text-align: center;
  }

}