.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  background-color: gray;
  color: white;
  margin: 100px 100px 25px 100px;
}

nav {
  background-color: black;
  color: white;
  position: fixed; 
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color:blue;
}

li {
  list-style: none;
}

@media only screen and (min-width: 900px) {
  /* .event {
    grid-template-columns: repeat(2, 1fr);
  } */
  nav {

  }
}

@media only screen and (min-width: 1200px) {
  /* .event {
    grid-template-columns: repeat(3, 1fr);
  } */
}

@media only screen and (min-width: 1500px) {
  /* .event {
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
  } */
}