html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

.App {
  text-align: center;
}

body {
  background-color: rgb(34, 33, 33);
  --text-color: white;
  font-family: 'Poppins', sans-serif;
  /* --text-color: #362C28; */
}

nav {
  color: var(--text-color);
  position: fixed; 
  height: 8vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

main {
  width: 100vw;
  height: 100vh;
  padding: 8vh 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--text-color); 
  text-decoration: none;
}

a:hover {
  color: rgb(255, 162, 138) 
}

a:active {
  color: rgb(232, 6, 168) 3px 0 10px;
  font-weight: 500;
}

li {
  list-style: none;
}


@media only screen and (max-width: 768px) {
  nav {
    width: 100vw;
    margin: 0 %;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1200px) {
  /* .event {
    grid-template-columns: repeat(3, 1fr);
  } */
}

@media only screen and (min-width: 1500px) {
  /* .event {
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
  } */
}